* {
margin: 0;
padding: 0;
}


a{
    height: 25px;
    text-align: center;
    margin-left: 40px;
    margin-top: 20px;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
}

a:hover{
    border-bottom: 1px solid white;
    cursor:pointer;
}

h1{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: #ffbefbc9;
    font-size: 60px;
}

body{
    background-color: #121212;
    color: white;
}

header{
    padding: 0 2%;
    font-size: 19px;
    display: flex;
    background-color:  #0303036b;
    flex-wrap: nowrap;
    height: 60px;
    border-bottom: solid 5px #701c6946;
}


#form_div{
    grid-row: 2/2;
    display:flex;
    justify-content: center;
    align-items: center;
}

#form_div p{
    margin-right: 30px;
    margin-left: 30px;
}

input{
    text-align: center;
    outline: none;
    appearance: none;
    border: none;
}

#ball_button{
    margin-left: 30px;
}

#source_input{
    border-radius: 10px;
}

#speed_input{
    width: 40px;
}

#direction_input{
    width: 40px;
}

#color_input{
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 4;
}

canvas{
    border: solid 3px #ffbefb88;
    display: block;
    margin: 60px auto;
    width: 1000px;
    height: 650px;
    border-radius: 20px;
}